<launch>

  <node pkg="leap_gestures" type="leap_gesture_interpreter" name="leap_gesture_interpreter"
        output="screen">
	<param name="wait_before_hand_active" value="0.5"/>
	<param name="workspace_origin/x" value="0"/>
	<param name="workspace_origin/y" value="0"/>
	<param name="workspace_origin/z" value="0.4"/>
	<param name="workspace_radius" value="0.2"/>
	<!-- inner radius defines region where we always send 0 position -->
	<param name="workspace_inner_radius" value="0.0"/>

	<param name="square_workspace" value="true"/> <!-- false = sperical -->
	<param name="reset_to_zero" value="false"/> <!-- false = if we loose tracking, don't return to 0 pose -->

	<!-- unused in current count based implementation -->
	<param name="gripper_control_threshold" value="0.06"/>

	<param name="gripper_control_enabled" value="true"/>

        <param name="invert_x" value="false"/>
        <param name="invert_y" value="false"/>
        <param name="invert_z" value="false"/>
        <param name="invert_roll" value="false"/>
        <param name="invert_pitch" value="false"/>
        <param name="invert_yaw" value="false"/>
        
	<!-- SCALING NOT WORKING -->
	<!--<param name="scale_roll" value="2.5"/>-->
	<!--<param name="scale_pitch" value="2.0"/>-->
	<!--<param name="scale_yaw" value="1.0"/>-->

  </node>


  <node pkg="pr2_teleop_leap" type="pose_control_node.py" name="pose_control_node"
        output="screen">
    <param name="orientation" value="true"/>
  </node>

  <node pkg="pr2_teleop_leap" type="gripper_control_node.py" name="gripper_node" />

  <include file="$(find simple_robot_control)/launch/simple_robot_control.launch"/>

</launch>
